/* .banner {
    background-image: url('');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
} */

.banner img {
    min-height: 100vh;
}

.carousel-caption {
    bottom: 50%;
}

.health-tips {
   background-color: #f1f1f1; 
}

.right-text {
    background-color: #fff;
}